<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous">
        <title>TinyApp</title>
        <body style="font-size:20px; padding:50px;">
            <%- include('partials/_header.ejs', {user: user}); %>
                <br>
                <% Object.keys(urls).forEach(function(key) { %>
                    <li>
                        <span><%= key %>
                            -
                            <%= urls[key].longURL %></span>
                        <form method="POST" action="/urls/<%= key %>/delete">
                            <a href="/urls/<%= key %>">Edit</a>
                            <button type="delete" class="btn btn-primary">Delete</button>
                            <br>
                            <a href="http://localhost:8080/u/<%= key %>">http://localhost:8080/u/<%= key %></a>
                        </form>
                    </span>
                </li>
                <% }); %>

                </body>
            </html>